<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331257094857-3o0eqar3bsfcn9ifbnjridf2401cu6pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331257094857-3o0eqar3bsfcn9ifbnjridf2401cu6pj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>331257094857-s23okm96u091hodd95buvbrq55is41ct.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCfTdiztOUklXJWny5O-NejqJofsRAwYI</string>
	<key>GCM_SENDER_ID</key>
	<string>331257094857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bookmywater.store</string>
	<key>PROJECT_ID</key>
	<string>bookmywater-731f9</string>
	<key>STORAGE_BUCKET</key>
	<string>bookmywater-731f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331257094857:ios:0017438a4fb3b7b8062318</string>
</dict>
</plist>